<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.sel.aui_demo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET"/>
  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      tools:ignore="AllowBackup">
    <activity
        android:name=".Activity_Main"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".Activity_SwipeAdapterView"
        android:label="@string/title_swipe"/>
    <activity
        android:name=".Activity_PictureView"
        android:label="@string/title_picture"/>
    <activity
        android:name=".Activity_ViewLooper"
        android:label="@string/title_looper"/>
    <activity
        android:name=".Activity_RockerButton"
        android:label="@string/title_rocker"/>
  </application>
</manifest>